.sidebar_wrapper{
	max-width: 320px;
	flex: 0 0 320px;
	overflow: hidden;
	.sidebar_nav{
		max-width: 90px;
		flex:0 0 90px;
		background: #646c7a;
		a{
			display: block;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			border-radius: 5px;
			&:hover{
				text-decoration: none;
				background-color: #7e8797;
				box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3), 0 1px 0 0 rgba(0,0,0,0.15), 0 -1px 0 0 rgba(0,0,0,0.05);
				transition: background-color 0.15s ease-in, background-image 0.15s ease-in, box-shadow 0.15s ease-in;
				i{
					text-shadow: none;
				}
			}
			i{
				font-size: 25px;
				color: #fff;
				text-shadow:1px 0 0  rgba(#000,.6);
			}
			span{
				font-size: 11px;
				line-height: 13px;
				display: block;
				color: #fff;
			}
			&.active{
				background-color: rgba(65,71,82,0.8);
				box-shadow: 0 1px 0 0 rgba(221,231,233,0.4), inset 0 1px 0 #31363f, inset 0 0 0 1px rgba(25,30,42,0.1), inset 0 1px 2px rgba(25,30,42,0.7);
				background-image: linear-gradient(to bottom, rgba(37,43,48,0), rgba(37,43,48,1));
			}
		}
		li{
			margin-top: 7px;
		}
	}
	.sidebar_info{
		background: #e2eaec;
		.tab-pane{
			h5{
				text-shadow: 0 1px 0 rgba(255,255,255,0.5);
			}
		}
		ul{
			&.multilevel_menu{
				margin-left: -15px;
				margin-right: -15px;
			}
			li{
				a{
					padding-top: 7px;
					padding-bottom: 7px;
					// align-items:center;
					&:hover{
						text-decoration: none;
						background: #f2f5f6;
						span{
							text-shadow:none;
						}
					}
					span{
						font-size: 15px;
						line-height: 17px;
						color: #000;
						text-shadow: 0 1px 0 #fff;
						padding-left: 10px;
					}
					i{
						font-size: 18px;
						color:theme-color("danger");
					}
				}
			}
		}
	}
}
.multilevel_menu{
	li{
		&.has_drop{
			>a{
				&:before{
					content: '\f0d7';
					font-weight: 600;
					font-size: 10px;
					font-family: "Font Awesome 5 Pro";
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					line-height: 1;
					position: absolute;
					top: 11px;
					// transform:translateY(-50%);
					left: 5px;
				}
			}
		}
		a{
			position: relative;
		}
		a[data-option="on"]{
			text-decoration: none;
			background: #f2f5f6;
			&:before{
				content: '\f0de';
			}
		}
	}
	ul{
		display: none;
		a{
			display: flex;
			padding-left: 25px;
			padding-right: 16px;
			&:before{
				left: 10px !important;
			}
		}
		// lvl 3
		ul{
			a{
				padding-left: 45px;
				&:before{
					left: 35px !important;
				}
			}
			// lvl 4
			ul{
				a{
					padding-left: 55px;
					&:before{
						left: 40px !important;
					}
				}
			}
		}
	}
}